#mapWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapElement {
    width: 97%;
}

.display-block {
    display: block;
}

.fullHeight {
    height: 97%;
}

.margin-above {
    margin-top: 45px;
}

.palatinate {
    color: #fff !important;
    background-color: #7e317b !important;
}

.active>.palatinate {
    background-color: #59233c !important;
}
